<div class="container">
  <form>
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="form-group row">
      <div class="col-md-4 mb-3">
        <button (click)="onNewList()"  class="btn btn-danger">New List</button>
      </div>
      <div class="col-md-4 mb-3">
        <label for="total">Total number of people</label>
        <input type="number" class="form-control" (keyup)="onPeopleKeyEvent($event)" />
      </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4 mb-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" (keyup)="onNameKeyEvent($event)">
        </div>
        <div class="col-md-4 mb-3">
          <div class="place-number" (click)="onGenerateNumber()"  (mousedown)="onMousedown()" 
          (mouseup)="onMouseup()" [class.clicked]="clicked">
            {{place}}
          </div>
        </div>
      </div>
  </form>  
</div>
